.comp-details {
  display: flex;
  flex-direction: column;

  & > li {
    font-weight: 400;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

    & > i {
      font-size: 5rem;
      color: rgb(176, 57, 103);
    }

    & > h3 {
      font-size: 1.3rem;
    }

    & > p {
      font-size: 1rem;
    }
  }

  & > li:nth-child(odd) {
    background-color: rgb(234, 76, 138);
  }

  & > li:nth-child(even) {
    background-color: rgb(207, 66, 120);
  }
}
