.header {

  background-color: rgb(236, 76, 138);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 10px;
  font-family: 'Gill Sans', sans-serif;

  &>h1 {
    font-weight: 400;
  }
}