* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(249, 79, 144);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  font-family: 'Gill Sans', sans-serif;
}
